.input{
    
    margin-bottom: 6%;
    .input
{
width: 430px;
font-size: 25px;
border: antiquewhite;
}
}
input.input:focus{
    outline-width: 0; 
    }
    .popupCard{
        margin-left: 10%;
    
        margin-right: 41%;  
    
    
    }
   
    .flex-container {
        flex-wrap: wrap;
      }
      .noteHover:hover{
        box-shadow: 6px 6px 6px #888888; 
    }