.popdownCard{
    margin-left: 10%;

    margin-right: 41%;
}
.popupCard{
    height: 34px;
    width: 464px;
    margin-top: 5%;
    height: 46px !important;
}

.topinput
{
    width: 80%;
    border: 0;
}

.input
{
width: 430px;

border: rgb(255, 227, 191);
}

input.input:focus{
outline-width: 0; 
}